@model WorkGenerator.Models.Job
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-info">Edit Job</h2>
<br />

<form method="post" asp-action="Edit">
    <div class="border backgroundWhite">
        <input asp-for="Image" hidden/>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Name" class="control-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Name" class="form-control" />
            </div>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Salary" class="control-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Salary" class="form-control" />
            </div>
            <span asp-validation-for="Salary" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Description" class="control-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Description" class="form-control" />
            </div>

        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Status" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Status" /> @Html.DisplayNameFor(model => model.Status)
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Image" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input type="file" name="files" multiple class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="StatusEnable" class="control-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="StatusEnable" class="form-control" />
            </div>
            <span asp-validation-for="StatusEnable" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="JobDate" class="control-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="JobDate" class="form-control" />
            </div>
            <span asp-validation-for="JobDate" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Experience" class="control-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Experience" class="form-control" />
            </div>
            <span asp-validation-for="Experience" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Others" class="control-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Others" class="form-control" />
            </div>
            <span asp-validation-for="Others" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="CategoryId" class="control-label"></label>
            </div>
            <div class="col-5">
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-5 offset-2">
                <partial name="_EditAndBackToListButton" model="Model.Id" />
            </div>
        </div>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
