<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="/libUser/img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="codepixer">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Job Listing</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
    CSS
    ============================================= -->
    <link rel="stylesheet" href="/libUser/css/linearicons.css">
    <link rel="stylesheet" href="/libUser/css/font-awesome.min.css">
    <link rel="stylesheet" href="/libUser/css/bootstrap.css">
    <link rel="stylesheet" href="/libUser/css/magnific-popup.css">
    <link rel="stylesheet" href="/libUser/css/nice-select.css">
    <link rel="stylesheet" href="/libUser/css/animate.min.css">
    <link rel="stylesheet" href="/libUser/css/owl.carousel.css">
    <link rel="stylesheet" href="/libUser/css/main.css">
</head>
<body>
    <header id="header" id="home">
        <div class="container">
            <div class="row align-items-center justify-content-between d-flex">
                <div id="logo">
                    <a href="index.html"><img src="/libUser/img/logo.png" alt="" title="" /></a>
                </div>
                @await Html.PartialAsync("../MenuUser/_menuUser.cshtml")
                <!-- #nav-menu-container -->
            </div>
        </div>
    </header><!-- #header -->
    <!-- start banner Area -->
    <section class="banner-area relative" id="home">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row fullscreen d-flex align-items-center justify-content-center">
                <div class="banner-content col-lg-12">
                    <h1 class="text-white">
                        <span>1500+</span> Jobs posted last week
                    </h1>
                    <form action="search.html" class="serach-form-area">
                        <div class="row justify-content-center form-wrap">
                            <div class="col-lg-4 form-cols">
                                <input type="text" class="form-control" name="search" placeholder="what are you looging for?">
                            </div>
                            <div class="col-lg-3 form-cols">
                                <div class="default-select" id="default-selects" ">
                                    <select>
                                        <option value="1">Select area</option>
                                        <option value="2">Dhaka</option>
                                        <option value="3">Rajshahi</option>
                                        <option value="4">Barishal</option>
                                        <option value="5">Noakhali</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3 form-cols">
                                <div class="default-select" id="default-selects2">
                                    <select>
                                        <option value="1">All Category</option>
                                        <option value="2">Medical</option>
                                        <option value="3">Technology</option>
                                        <option value="4">Goverment</option>
                                        <option value="5">Development</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-2 form-cols">
                                <button type="button" class="btn btn-info">
                                    <span class="lnr lnr-magnifier"></span> Search
                                </button>
                            </div>
                        </div>
                    </form>
                    <p class="text-white"> <span>Search by tags:</span> Tecnology, Business, Consulting, IT Company, Design, Development</p>
                </div>
            </div>
        </div>
    </section>
    <section class="features-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="single-feature">
                        <h4>Searching</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-feature">
                        <h4>Applying</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-feature">
                        <h4>Security</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-feature">
                        <h4>Notifications</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    @RenderBody()
    <!-- End download Area -->
    <!-- start footer Area -->
    @await Html.PartialAsync("../MenuUser/_fotters.cshtml")
    <!-- End footer Area -->
    <script src="/libUser/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="/libUser/js/vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
    <script src="/libUser/js/easing.min.js"></script>
    <script src="/libUser/js/hoverIntent.js"></script>
    <script src="/libUser/js/superfish.min.js"></script>
    <script src="/libUser/js/jquery.ajaxchimp.min.js"></script>
    <script src="/libUser/js/jquery.magnific-popup.min.js"></script>
    <script src="/libUser/js/owl.carousel.min.js"></script>
    <script src="/libUser/js/jquery.sticky.js"></script>
    <script src="/libUser/js/jquery.nice-select.min.js"></script>
    <script src="/libUser/js/parallax.min.js"></script>
    <script src="/libUser/js/mail-script.js"></script>
    <script src="/libUser/js/main.js"></script>
</body>
</html>

@RenderSection("Scripts", required: false)