@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<a class="dropdown-item" asp-action="Index" asp-controller="Skill" asp-area="Admin">Skill</a>
<a class="dropdown-item" asp-action="Index" asp-controller="Categories" asp-area="Admin">Category</a>
<a class="dropdown-item" asp-action="Index" asp-controller="Job" asp-area="Admin">Job</a>